<h1>Welcome to Professor Bog's Pokedex!</h1>

<h3>Would you like to: <a href="/creatures/new">Add a new creature</a> </h3>

<h4>Below are the creatures discovered in your journey so far:</h4>
  <% @creatures.each do |creature| %>
        <div>
            Name:  <a href="/creatures/<%= creature[:id] %>"><%= creature[:name] %></a> <br>
            Description: <%= creature[:description] %>
        </div> </br>
    <% end %>